body, html { 
    margin: 0; padding: 0; width: 100%; height: 100%; 
    background: #000; color: white; font-family: 'Arial', sans-serif; 
    overflow: hidden; 
}

#video-intro { 
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%; 
    object-fit: cover; /* Esto hace que el video llene toda la pantalla sin deformarse */
    z-index: -100; filter: brightness(0.7); 
}

#contenedor-principal { 
    display: flex; justify-content: center; align-items: center; 
    height: 100vh; width: 100vw; 
}

.oculto-fade { opacity: 0; pointer-events: none; transform: scale(0.9); transition: all 1.5s ease; }
.visible-fade { opacity: 1; pointer-events: auto; transform: scale(1); }

.card-inicio, .card-admin { 
    background: rgba(0, 0, 0, 0.7); padding: 40px; 
    border-radius: 25px; backdrop-filter: blur(10px); 
    border: 2px solid #32cd32; text-align: center; 
    width: 85%; max-width: 450px; 
}

.generando-txt { color: #32cd32; font-weight: bold; font-style: italic; animation: parpadeo 1.5s infinite; }
@keyframes parpadeo { 0% { opacity: 0.4; } 50% { opacity: 1; } 100% { opacity: 0.4; } }

.oculto { display: none !important; }

#caja-chat { 
    width: 90%; height: 60vh; background: rgba(0,0,0,0.6); 
    padding: 15px; border-radius: 15px; overflow-y: auto; margin-bottom: 10px; 
}

button { 
    background: #32cd32; color: black; border: none; 
    padding: 12px 25px; border-radius: 8px; cursor: pointer; 
    font-weight: bold; margin: 5px; 
}

input { 
    padding: 12px; background: #111; color: white; 
    border: 1px solid #333; border-radius: 8px; width: 80%; 
}
